body {
    background-color: rgb(32, 32, 32);
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
    color: white;
    font-size: 10pt;
}

#fan {
    width: 420px;
    height: 420px;
}


/* Animation specifications can be broken down into smaller
* components or they can be specified by animation: ...
* as a shortcut. See https://www.w3schools.com/css/css3_animations.asp
* for more information. */

.highlight {
    fill: rgb(0, 0, 0);
    transition: fill 1.5s;
    transform-origin: 50% 50%;
    animation-name: scaleIn;
    animation-duration: 3s;
    animation-delay: 4.5s;
    animation-timing-function: ease;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}

.midtone {
    fill: rgb(0, 0, 0);
    transition: fill 1.5s;
    transform-origin: 50% 50%;
    animation-name: scaleIn;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-timing-function: ease;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}

.shadow {
    fill: rgb(0, 0, 0);
    transition: fill 1.5s;
    transform-origin: 50% 50%;
    animation-name: scaleIn;
    animation-duration: 3s;
    animation-delay: 1.5s;
    animation-timing-function: ease;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}

@keyframes scaleIn {
    0% {
        transform: scale(0.25);
    }
    25% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(.25);
    }
    75% {
        transform: scale(.75);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyFrames rot {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
