body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    font-family: sans-serif;
    font-size: 11px;
    text-shadow: 1px 1px black;
}

canvas {
    padding: 0;
    margin: 0;
}
