body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: hsla(360, 100%, 100%, 1);
  color: rgba(255, 255, 255, 1);
  font-family: sans-serif;
  font-size: 11pt;
  text-shadow: 1px 1px black;
}

#spot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: none;
  transition: all 0.25s ease;
}

#display {
  font-size: 12pt;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  text-shadow: 1px 1px black;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px;
}

#link {
  font-weight: bold;
  font-size: 12pt;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 75%;
  left: 50%;
  text-shadow: 1px 1px black;
  transition: top 1s linear, left 1s linear;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 2.5px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 11pt;
}

input {
  border: none;
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffdd;
  padding: 2px;
}

.st0 {
  fill: #4DD4FF;
  position: absolute;
  transition: left 0.25s ease, top 0.25s ease;
}

.st1 {
  fill: #4796E8;
  position: absolute;
  transition: left 0.5s ease, top 0.5s ease;
}

.st2 {
  fill: #5A80FF;
  position: absolute;
  transition: left 0.75s ease, top 0.75s ease;
}

.st3 {
  fill: #4C47E8;
  position: absolute;
  transition: left 1s ease, top 1s ease;
}

.st4 {
  fill: #844DFF;
  position: absolute;
  transition: left 1.25s ease, top 1.25s ease;
}

.st5 {
  fill: #FF4DBE;
  position: absolute;
  transition: left 1.5s ease, top 1.5s ease;
}
