body {
    background-color: rgb(32, 32, 32);
    padding: 0;
    margin: 0;
    overflow: hidden;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div {
    font-family: sans-serif;
    color: white;
    font-size: 10pt;
}

a {
    color: rgb(0, 255, );
    transition: color 1s;
}

a:visited {
    color: rgb(0, 127, 255);
}

a:hover {
    color: rgb(0, 255, 172);
}

a:active {
    color: rgb(0, 255, 255);
}
