body {
    background-color: rgb(32, 32, 32);
    padding: 0;
    margin: 0;
    overflow: hidden;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#loremIpsum {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  bottom: 2.5%;
  right: 50%;
  background-color: rgba(0, 0, 0, 0.675);
  color: #66ffBB;
  font-family: sans-serif;
  font-size: 0.9em;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 2s;
  overflow: hidden;
  text-align: justify;
}

#loremHeader {
  font-size: 3em;
  color: #0088ff;
  overflow: hidden;
  text-align: center;
}
