body {
    background-color: rgb(32, 32, 32);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div, td {
    font-family: sans-serif;
    color: white;
    font-size: 10pt;
}
