body {
    background-color: rgb(32, 32, 32);
    padding: 0;
    margin: 0;
    overflow: hidden;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div {
    font-family: sans-serif;
    color: white;
    font-size: 10pt;
}

/* See https://www.w3schools.com/css/css3_gradients.asp for more
* information on creating gradients with CSS. */
#divLinGrad1 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    border-radius: 5px;
    /*height: 3em;*/
    width: 25%;
    font-size: 12pt;
    background: rgb(0, 0, 0);
    background: -webkit-linear-gradient(bottom, rgba(32, 32, 32, 0), rgba(64, 64, 64, 1));
    background: linear-gradient(to top, rgba(32, 32, 32, 0), rgba(64, 64, 64, 1));
}

#divRadGrad1 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25%;
    padding: 5px;
    border-radius: 5px;
    /*height: 5em;*/
    font-size: 12pt;
    background: rgb(0, 0, 0);
    background: -webkit-radial-gradient(rgba(127, 0, 255, 0.5), rgba(54, 0, 27, 1));
    background: radial-gradient(rgba(127, 0, 255, 0.5), rgba(54, 0, 27, 1));
}
