body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: white;
}

#sky {
  width: 100%;
  height: 100%;
  position: fixed;
}

#pinwheel {
  position: fixed;
  width: 100%;
  height: 100%;
}
