body {
    background-color: rgb(32, 32, 32);
    padding: 0;
    margin: 0;
    overflow: hidden;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

label, div, span {
  font-family: sans-serif;
  color: white;
  font-size: 10pt;
}

input[type='range'] {
    margin: 0px;
    padding: 0px;
    width: 50%;
}

#p5_loading {
    font-family: sans-serif;
    color: white;
    font-size: 10pt;
}
