body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
    font-family: sans-serif;
    font-size: 11pt;
    color: white;
    text-shadow: 1px 1px black;
}

canvas {
    padding: 0;
    margin: 0;
}

#controllerDiagnostic {
    position: absolute;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    top: 25px;
    left: 25px;
    width: 25%;
    background: black;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background: -webkit-linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

#controllerName {
    font-weight: bold;
    color: rgba(0, 127, 255, 1);
}

#buttons, #axes {
    margin-top: 5px;
    width: 100%;
    transition: color 1s;
}

td {
  background: rgba(48, 48, 48, 1);
  background: linear-gradient(rgba(48, 48, 48, 1), rgba(48, 48, 48, 0));
  background: -webkit-linear-gradient(rgba(48, 48, 48, 1), rgba(48, 48, 48, 0));
}

.numerical {
  text-align: right;
  width: 3em;
}

th {
  background: rgba(64, 64, 64, 1);
  background: linear-gradient(rgba(64, 64, 64, 1), rgba(48, 48, 48, 0.5));
  background: -webkit-linear-gradient(rgba(64, 64, 64, 1), rgba(48, 48, 48, 0.5));
  font-weight: bold;
}
