body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: rgba(32, 32, 32, 1);
    color: rgba(255, 255, 255, 1);
    font-family: sans-serif;
    font-size: 11pt;
}

#frameCounter {
    font-family: monospace;
    font-size: 14pt;
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 100;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 5px;
    text-shadow: 1px 1px black;
    text-align: right;
}

#pauseDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 125px;
    height: 125px;
    background-color: rgba(0, 255, 127, 0.5);
    border-radius: 10%;
    transition: background-color, width, height, opacity;
    transition-delay: 0s;
    transition-duration: 1.5s;
    transition-timing-function: ease-out;
    z-index: 2;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 1px 1px black;
    opacity: 0.85;
    background-image: url('../assets/corfu.png');
    background-size: cover;
}

.widget {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition-property: left, top;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.st4 {
    fill: rgba(191, 0, 78, 1);
}

.st5 {
    fill: rgba(255, 0, 92, 1);
}

.st6 {
    fill: rgba(73, 0, 33, 1);
}

.st7 {
    fill: rgba(124, 0, 62, 1);
}
