body {
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    font-family: sans-serif;
    font-size: 11pt;
    overflow: hidden;
}

table {
    padding: 0;
    margin: 0;
    border-spacing: 0;
    border-radius: 5px;
}

input {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 0, 127, 1);
    border-style: solid;
    border-color: rgba(127, 0, 255, 1);
    border-width: thin;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
}

td, th, tr {
    padding: 5px;
    margin: 0px;
    border-spacing: 0;
}

tr:nth-child(even) {
    padding: 5px;
    margin: 0px;
    border: 0;
    background-color: rgba(48, 48, 48, 0.75);
}

tr:nth-child(odd) {
    padding: 5px;
    margin: 0px;
    border: 0;
    background-color: rgba(32, 32, 32, 0.75);
}

#header {
    background-color: rgba(64, 64, 64, 0.75);
    color: rgba(255, 127, 0, 1);
}

#tableContainer {
  z-index: 1;
  position: fixed;
  width: 100%;
  text-shadow: 1px 1px black;
}

.bar {
  height: 0px;
  transition-property: width;
  transition-delay: 0s;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}

.label {
  text-shadow: 2px 2px black;
}
